* {
    margin: 0px;
    padding: 0;
    border: 0;
}

body{
    min-height: 100vh;
}

#container{
    background-color: white;
    min-width: 960px;
    min-height: 960px;
    display: grid;
    border: 3px solid yellowgreen;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.square{
    background-color: white;
    border: 3px solid sandybrown;
}