* {
    margin: 0px;
    padding: 0;
    border: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    background-color: white;
    width: 80vh;
    height: 80vh;
    display: grid;
    border: 3px solid yellowgreen;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.square{
    background-color: white;
    border: 3px solid sandybrown;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

